{% extends "user.html" %}
{% block content %}
<form action="" method="POST">
    {% for msg in get_flashed_messages(category_filter=['err']) %}
    <p style="color:red">{{msg}}</p>
    {% endfor %}

    <div class="from-group">
        <label for="">帐号</label>
        {{form.name}}
        {%for v in form.name.errors%}
        <p style="color:red">{{v}}</p>
        {%endfor%}
    </div>
    <div class="from-group">
            <label for="">密码</label>
            {{form.pwd}}
            {%for v in form.pwd.errors%}
            <p style="color:red">{{v}}</p>
            {%endfor%}
    </div>
    <div class="from-group">
            <label for="">确认密码</label>
            {{form.repwd}}
            {%for v in form.repwd.errors%}
            <p style="color:red">{{v}}</p>
            {%endfor%}
    </div>
    <div class="from-group">
            <label for="">验证码</label>
            {{form.captcha}}
            <!-- <img src="holder.js/180x50" style="margin-top:8px" alt=""> -->
            {%for v in form.captcha.errors%}
            <p style="color:red">{{v}}</p>
            {%endfor%}
            <img src="/captcha/" alt="点击切换" title="点击切换" onclick="this.src='/captcha/?'+Math.random()" style="width: 180px; height: 50px;margin-top: 6px;">
        </div>
    <a href="/login/">已有账户，前往登录</a>
    <br>
    {{form.submit}}
    {{form.csrf_token}}
    <!-- <a class="btn btn-success" href="/login"> 注册 </a> -->

</form>
{% endblock %}
{% block js%}
<script src="{{ url_for('static', filename='js/holder.min.js') }}"></script>
{% endblock %}